<!DOCTYPE html>
<html>
{% block head %}
    <head>
        <meta charset="UTF-8" />
        <title id="title">{% block title %}Winbet Task Manager{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset("styles/bootstrap.min.css") }}">
            <link rel="stylesheet" href="{{ asset("styles/main.css") }}">
            <link rel="stylesheet" href="{{ asset("styles/fonts/font-awesome.min.css") }}">
            <link rel="stylesheet" href="{{ asset("styles/fancybox/source/jquery.fancybox.css") }}">
			<link rel="stylesheet" href="{{ asset("styles/fancybox/source/helpers/jquery.fancybox-buttons.css") }}">
			<script src="{{ asset("https://code.jquery.com/jquery-3.2.1.js") }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/fav.png') }}" />
    </head>
{% endblock %}
<body>
    <div class="row" id="header">
	    <div class="pull-left">
		     <img src="{{ asset("images/new_logo.png") }}" alt="" class="logo">
	    </div>
	</div>
    <nav>
        <div>
            <div class="pull-left">
                {% if app.user %}
                    <a href="{{ path('project_index') }}">Заявки</a>
                    {% if app.user.type == "LittleBoss" %}
                        <a href="{{ path('project_designer', {'username':'yoana'}) }}">Заявки Йоана</a>
                        <a href="{{ path('project_designer', {'username':'a.vali'}) }}">Заявки Вали</a>
                        <a href="{{ path('project_designer', {'username':'r.dudley'}) }}">Заявки Рената</a>
					    <a href="{{ path('project_executioner') }}">Заявки Подизпълнител</a>
					{% endif %}			
                    <a href="{{ path('project_archive') }}">Архивирани Заявки</a>
					{% if app.user.username == "a.vali" %}
                    {% elseif app.user.type == "Manager" or app.user.type == "LittleBoss" or app.user.username == "Скай Строй" %}
                    <a href="{{ path('project_new') }}">Нова заявка</a>
                    {% endif %}
                {% else %}
                    <a href="{{ path('homepage') }}">Начало</a>
                    <a href="{{ path('user_login') }}">Вход</a>
                {% endif %}
            </div>
            <div class="pull-right">
                {% if app.user %}
				    <a class="username">Здравейте, {{ app.user.fullname }}</a>
                    <a class="logout" href="{{ path('user_logout') }}">Изход</a>
                {% endif %}
            </div>
        </div>

    </nav>

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="error">
                <p>{{ flashMessage }}</p>
            </div>
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="row">
            <div class="success">
                <p>{{ flashMessage }}</p>
            </div>
        </div>
    {% endfor %}


    {% block body %}{% endblock %}
    {% block javascripts %}
        <script src="{{ asset("scripts/bootstrap.min.js") }}"></script>
        <script src="{{ asset("scripts/main.js") }}"></script>
	    <script src="{{ asset("scripts/fancybox/source/jquery.fancybox.pack.js") }}"></script>
		<script src="{{ asset("scripts/fancybox/lib/jquery.mousewheel-3.0.6.pack.js") }}"></script>
    {% endblock %}
</div>
</body>
</html>
