{% extends 'base.html.twig' %}
{% block body %}
    <h1>Заявки</h1>
    <!--
	<ul>
        <li>
		    {% if app.user.type != "Designer" and app.user.type != "Executioner" %}
            <a class="new_query_button" href="{{ path('project_new') }}">Създай нова заявка</a>
            {% endif %}
        </li>
    </ul>
	-->
    {% if projects %}
        <table id="index">
            <thead>
            <tr>
                <th>Отдел</th>
                <th>От</th>
                <th>Вид</th>
                <th>Описание</th>
                <th>Файл</th>
                <th>Краен Срок</th>
                <th>Дата</th>
                <th>Дизайнер</th>
                <th>Подизпълнител</th>
                <th>Статус</th>	
                <th>Коментари</th>	
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr class="{{ project.class }}">
                    <td class="department">{{ project.department }}</td>
                    <td class="user">{{ project.fromUser }}</td>
                    <td class="type">{{ project.typeTask }}</td>
                    <td class="more">{{ project.description }}</td>
					<td>{% if project.file%}<a href="{{ project.file }}" target="_blank">Линк към файла</a> {% else %}Няма качени файлове{% endif %}</td>
                    <td class="date">{% if project.term %}{{ project.term|date('d-m-Y H:i:s') }}{% endif %}</td>
                    <td class="date">{% if project.date %}{{ project.date|date('d-m-Y H:i:s') }}{% endif %}</td>
					{% if app.user.type == "LittleBoss" or app.user.type == "Boss"  %}
                    <td>{{ project.designer }}</td>
					{% else %}
							{% if project.designerAccepted %}
							<td>Разпределена</td>
							{% else %}
							<td></td>
					        {% endif %}
					{% endif %}
                    <td>{{ project.executioner }}</td>
                    <td class="status">{{ project.status }}</td>
					<td rowspan = "2" class="comments">
                        <div class="overflow">
                            {% for comment in project.comments %}
                           <div class="{{ comment.class }}">
                           <p class="row">От: {{ comment.madeBy }}</p>
                           <p class="row">Дата: {{ comment.date|date("d-m-Y H:i:s") }}</p>
	                       <div class="border_for_comments">
						   <span>Коментар: </span>{{ comment.content }}
                           </div>
						   </div>
							{% endfor %}
                        </div>

                    </td>
                </tr>
			    <tr id="actions" class="{{ project.class }}">
				    <td colspan = "10" id="buttons" style="padding: 10px 0px 0px 0px;">
<<<<<<< HEAD
				    {% if project.isOver and (app.user.type == "LittleBoss" or app.user.type == "Boss")  %}
=======
				    {% if project.isOver and (app.user.type == "LittleBoss" or app.user.type == "Boss" ) %}
>>>>>>> origin/master


					{% elseif app.user.type == "LittleBoss" or app.user.type == "Boss"  %}
                        <form action="{{ path('project_update', { 'id': project.id }) }}" method="post">
				            {% if project.forApproval or project.isApproved %}
                            <div class="col-md-2">
                                <input type="submit" id="approve" name="approve" value="Одобрявам"><div class="approve_icon"></div>
                            </div>
							
							{% else %}
<<<<<<< HEAD

=======
                                {% if app.user.type != "Boss" %}
>>>>>>> origin/master
                            <div class="col-md-2">
                                <input type="submit" id="hold" name="hold" value="На изчакване"><div class="hold_icon"></div>
                            </div>
                            <div class="col-md-2" >
                                <input type="submit" id="forApproval" name="forApproval" value="За одобрение"/><div class="forApproval_icon"></div>
                            </div>
                                {% endif %}
						    {% endif %}
					{% elseif app.user.type == "Designer" %}
					<!--
                            <div class="col-md-2">
                                <input type="submit" id="working" name="working" value="Работи се"/><div class="working_icon"></div>
                            </div>	
-->							
					{% endif %}
					
					    </form>
							<form action="{{ path('project_update', { 'id': project.id }) }}" method="post">
								<div class="col-md-2">
									<input id="rejectPopup" name="rejectPopup" value="Отхвърлям" onclick="btnShowPopup()"><div class="reject_icon"></div>
								</div>
								<div id="mypopup" class="popup">
									<div class="popup-content">
										<span class="close" onclick="btnHidePopup()">&times;</span>
										<p>Сигурни ли сте, че искате да отхвърлите заявката?</p>
                                        <p>Напишете причина.</p>
										<textarea></textarea>
										<div id="name-error" class="error"></div>
										<div style="height: 40px; margin-top: 20px;">
											<div class="col-md-2">
											<button type="button" id="button_cancel_popup" onclick="btnHidePopup()">Не</button><div class="reject_icon"></div>
											</div>
											<div class="col-md-2">
											<input type="submit" id="reject" name="reject" value="Да"><div class="approve_icon"></div>    
											</div>
										</div>
									</div>
								</div>
                            </form>	
                             <div>
								<div class="col-md-2">
									<input id="button_details" value="Детайли" onclick="location.href='{{ path('project_show', { 'id': project.id }) }}'"/><div class="details_icon"></div>
								</div>
                            {% if project.isOver %}

							{% elseif app.user.type == "LittleBoss" or app.user.type == "Boss" %}	
								<div class="col-md-2">
									<input id="button_edit" value="Промяна" onclick="location.href='{{ path('project_edit', { 'id': project.id }) }}'"/><div class="edit_icon"></div>
								</div>
                            </div>
							{% endif %}
					</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div>Нямате заявки към момента!</div>
    {% endif %}

{% endblock %}
