{% extends 'base.html.twig' %}
{% block body %}
    <h1>Заявки</h1>
    <!--
	<ul>
        <li>
		    {% if app.user.type != "Designer" and app.user.type != "Executioner" %}
            <a class="new_query_button" href="{{ path('project_new') }}">Създай нова заявка</a>
            {% endif %}
        </li>
    </ul>
	-->
    {% if projects %}
        <table id="index">
            <thead>
            <tr>
                <th>Отдел</th>
                <th>От</th>
                <th>Вид</th>
                <th>Описание</th>
                <th>Краен Срок</th>
                <th>Дата</th>
                <th>Дизайнер</th>
                <th>Подизпълнител</th>
                <th>Статус</th>	
                <th>Коментари</th>	
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
			    {% if project.class == "notSeen" and (app.user.type == "LittleBoss" or app.user.type == "Boss" ) %}
                    <tr class="{{ project.class }}">
				{% else %}
				    <tr>
				{% endif %}
                    <td class="department">{{ project.department }}</td>
                    <td class="user">{{ project.fromUser }}</td>
                    <td class="type">{{ project.typeTask }}</td>
                    <td class="more">{{ project.description }}</td>
                    <td class="date">{% if project.term %}{{ project.term|date('d-m H:i:s') }}{% endif %}</td>
                    <td class="date">{% if project.date %}{{ project.date|date('d-m H:i:s') }}{% endif %}</td>
					{% if app.user.type == "LittleBoss" or app.user.type == "Boss"  %}
                    <td>{{ project.designer }}</td>
					{% else %}
							{% if project.designerAccepted %}
							<td>Разпределена</td>
							{% else %}
							<td></td>
					        {% endif %}
					{% endif %}
                    <td>{{ project.executioner }}</td>
                    <td class="status {{ project.class }}">{{ project.status }}</td>
					<td rowspan = "2" class="comments">
					    {% if project.comments == false %}
                        <div class="overflow" style="padding-top: 40%; text-align: center;">
                           <p class="row">Няма коментари</p>
                        </div>
						{% else %}
                        <div class="overflow">
                            {% for comment in project.comments %}
                           <div class="{{ comment.class }}">
                           <p class="row">От: {{ comment.madeBy }}</p>
                           <p class="row">Дата: {{ comment.date|date("d-m-Y H:i:s") }}</p>
	                       <div class="border_for_comments">
						   <span>Коментар: </span>{{ comment.content }}
                           </div>
						   </div>
							{% endfor %}
                        </div>
						{% endif %}
                    </td>
                </tr>
			    <tr id="actions">
				    <td colspan = "9" id="buttons" style="padding: 10px 0px 0px 0px;">
				    {% if project.isOver and (app.user.type == "LittleBoss" or app.user.type == "Boss" ) %}
						<div class="col-md-2">
							<input id="button_delete" readonly="readonly" type="submit" value="Изтрий"><div class="delete_icon"></div>
						</div>
					    {% else %}
							<form action="{{ path('project_update', { 'id': project.id }) }}" method="post">
					            {% if ( project.forApproval or project.isApproved ) and ( app.user.type == "LittleBoss" or app.user.type == "Boss" ) %}
								<div class="col-md-2">
									<input type="submit" readonly="readonly" id="approve" name="approve" value="Одобрявам"><div class="approve_icon"></div>
								</div>
								<div class="col-md-2">
									<input id="rejectPopup" readonly="readonly" name="rejectPopup" value="Отхвърлям" onclick="btnShowPopup({{ project.id }})"><div class="reject_icon"></div>
								</div>

								{% elseif app.user.type == "LittleBoss" or app.user.type == "Boss" %}
								<div class="col-md-2">
									<input type="submit" readonly="readonly" id="hold" name="hold" value="На изчакване"><div class="hold_icon"></div>
								</div>
								<div class="col-md-2" >
									<input type="submit" readonly="readonly" id="forApproval" name="forApproval" value="За одобрение"/><div class="forApproval_icon"></div>
								</div>
                                {% endif %}		
							    </form>	
								{% if app.user.type == "Designer" %}
							    <form action="{{ path('project_update', { 'id': project.id }) }}" method="post">
									<div class="col-md-2">
										<input type="submit" readonly="readonly" id="working" name="working" value="Работи се"/><div class="working_icon"></div>
									</div>		
							    </form>	
							    <form action="{{ path('image_upload', { 'id': project.id }) }}" method="post" name="form" id="project7">								
									<div class="col-md-2" id="imageUpload">
										<span>Прикачи файл</span>
										<input type="file" readonly="readonly" id="imageUpload" name="image_upload[]" onchange="form.submit()" multiple/><div class="upload_icon"></div>
									</div>	
							    </form>	
					            {% endif %}

					{% endif %}						
                             <div>
								<div class="col-md-2">
									<input id="button_details" readonly="readonly" value="Детайли" onclick="location.href='{{ path('project_show', { 'id': project.id }) }}'"/><div class="details_icon"></div>
								</div>
                            {% if project.isOver %}

							{% elseif app.user.type == "LittleBoss" or app.user.type == "Boss" %}	
								<div class="col-md-2">
									<input id="button_edit" readonly="readonly" value="Промяна" onclick="location.href='{{ path('project_edit', { 'id': project.id }) }}'"/><div class="edit_icon"></div>
								</div>
                            </div>
							{% endif %}

				    {% if project.isOver %}					
					{% elseif project.forApproval or project.isApproved and ( app.user.type == "LittleBoss" or app.user.type == "Boss" )  %}
								<form action="{{ path('project_update', { 'id': project.id }) }}" method="post">
								<div  class="popup" id="{{ project.id }}">
									<div class="popup-content">
										<span class="close" onclick="btnHidePopup({{ project.id }})">&times;</span>
										<p>Сигурни ли сте, че искате да отхвърлите заявката?</p>
                                        <p>Напишете причина.</p>
										<textarea id="rejectComment" name="rejectComment" required="required"></textarea>
										<div id="name-error" class="error"></div>
										<div style="height: 40px; margin-top: 20px;">
											<div class="col-md-2">
											<button type="button" id="button_cancel_popup" onclick="btnHidePopup({{ project.id }})">Не</button><div class="reject_icon"></div>
											</div>
												<div class="col-md-2">
												<input type="submit" readonly="readonly" id="reject" name="reject" value="Да"><div class="approve_icon"></div>    
												</div>
										</div>
									</div>
								</div>
                                </form>
                    {% endif %}	

					</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div>Нямате заявки към момента!</div>
    {% endif %}

{% endblock %}
