{% extends 'base.html.twig' %}

{% block body %}
    <h1>Заявка</h1>
    <div class="content">
        <table class="show_query">
            <tbody>
            <tr>
                <th>Отдел</th>
                <td>{{ project.department }}</td>
            </tr>
            <tr>
                <th>От</th>
                <td>{{ project.fromUser }}</td>
            </tr>
            <tr>
                <th>Вид</th>
                <td>{{ project.typeTask }}</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td class="description">{{ project.description }}</td>
            </tr>
            <tr>
                <th>Краен Срок</th>
                <td>{% if project.term %}{{ project.term|date('d-m-Y H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Създаден на</th>
                <td>{% if project.date %}{{ project.date|date('d-m-Y H:i:s') }}{% endif %}</td>
            </tr>
            {% if project.designer %}
                <tr>
                    <th>Дизайнер</th>
					{% if app.user.type == "LittleBoss" or app.user.type == "Boss"  %}
                    <td>{{ project.designer }}</td>
                    {% else %}
							{% if project.designerAccepted %}
							<td>Разпределена</td>
							{% else %}
							<td></td>
					        {% endif %}
					{% endif %}
				</tr>
                {%if project.designerAccepted  %}
                    <tr>
                        <th>Дизайнер приел на:</th>
                        <td>{{ project.dateDesigner|date("d-m-Y H:i:s") }}</td>
                    </tr>
                    {% if project.designerFinishedDate %}
                        <tr>
                            <th>Дизайнер приключил на:</th>
                            <td>{{ project.designerFinishedDate|date("d-m-Y H:i:s") }}</td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if project.Executioner %}
                <tr>
                    <th>Подизпълнител</th>
                    <td>{{ project.executioner }}</td>
                </tr>
                {%if project.designerAccepted  %}
                    <tr>
                        <th>Подизпълнител приел на:</th>
                        <td>{{ project.dateDesigner|date("d-m-Y H:i:s") }}</td>
                    </tr>
                {% endif %}
            {% endif %}
            <tr>
                <th>Линк</th>
                <td>{% if project.file%}<a href="{{ project.file }}" target="_blank">Линк към файла</a> {% else %}Няма качени файлове{% endif %}</td>
            </tr>
            <tr>
                <th>Одобрена</th>
                <td>{% if project.isApproved %}Да{% else %}Не{% endif %}</td>
            </tr>
            <tr>
                <th>Приключилa </th>
                <td>{% if project.isOver %}Да{% else %}Не{% endif %}</td>
            </tr>
            {% if project.isOver %}
            <tr>
                <th>Дата на приключване </th>
                <td>{{ project.overDate|date("d-m-Y H:i:s") }}</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
        {% if app.user.type == "Boss" or app.user.type == "LittleBoss"%}
		    <div class="row" style="background: #dcf0d9;">
                <form action="{{ path('project_fast_update', { 'id': project.id }) }}" method="post" style="margin-top: 10px; margin-left: 0px; margin-right: 0px;">
                    <div class="col-md-2">
                        <input type="submit" id="approve" name="approve" value="Одобрявам"><div class="approve_icon"></div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" id="reject" name="reject" value="Отхвърлям"><div class="reject_icon"></div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" id="hold" name="hold" value="На изчакване"><div class="hold_icon"></div>
                    </div>
                    <div class="col-md-3">
                        <input type="submit" id="archive" name="archive" value="Архивирай"><div class="archive_icon"></div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" id="forApproval" name="forApproval" value="За одобрение"/><div class="forApproval_icon"></div>
                    </div>
                </form>
            </div>
        {% endif %}
        <div class="row" style="background: #dde5ee;">
            <div class="query_buttons">
                <div class="col-md-4">
                    <input id="button_edit" value="Обратно към заявките" onclick="location.href='{{ path('project_index') }}'"/><div class="back_icon"></div>
                </div>
                {% if app.user.type == "LittleBoss" %}
                <div class="col-md-2">
                    <input id="button_edit" value="Промяна" onclick="location.href='{{ path('project_edit', { 'id': project.id }) }}'"/><div class="edit_icon"></div>
                </div>
				{% endif %}
            </div>
        </div>
        {% if project.isOver  and app.user.type == "LittleBoss" %}
        <div class="row" style="background: #f0d9d9;">
            <div class="query_buttons">
                {{ form_start(delete_form) }}
                <div class="col-md-2">
                    <input id="button_delete" type="submit" value="Изтрий"><div class="delete_icon"></div>
                </div>
                {{ form_end(delete_form) }}
            </div>
        </div>

        {% endif %}
		<h1>Коментари</h1>
        <div class="row">
            <div class="container" id="comments">
                {% for comment in comments %}
                    <div class="{{ comment.class }}">
                        <div class="row">
                            <span class="pull-left">{{ comment.madeBy }}</span>
                            <span class="pull-right">{{ comment.date }}</span>
                        </div>
                        <div class="row">
                            <div class="text-field">
                                {{ comment.content }}
                            </div>
                        </div>
                    </div>
               {% endfor %}
			</div>
		<h1>Нов коментар</h1>
		{% include 'comments/new.html.twig' with {form:form,zadanieID:project.id} %}
        </div>
    </div>
{% endblock %}

