{% extends 'base.html.twig' %}

{% block body %}
    <h1>Заявка</h1>
    <div class="content">
        <table class="show_query">
            <tbody>
            <tr>
                <th>Отдел</th>
                <td>{{ project.department }}</td>
            </tr>
            <tr>
                <th>От</th>
                <td>{{ project.fromUser }}</td>
            </tr>
            <tr>
                <th>Вид</th>
                <td>{{ project.typeTask }}</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td class="description">{{ project.description }}</td>
            </tr>
            <tr>
                <th>Краен Срок</th>
                <td>{% if project.term and project.withoutTerm %}Без срок{% else %}{{ project.term|date('d-m H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Създаден на</th>
                <td>{% if project.date %}{{ project.date|date('d-m-Y H:i:s') }}{% endif %}</td>
            </tr>
            {% if project.designer %}
                <tr>
                    <th>Дизайнер</th>
					{% if app.user.type == "LittleBoss" or app.user.type == "Boss"  %}
                    <td>{{ project.designer }}</td>
                    {% else %}
							{% if project.designerAccepted %}
							<td>Разпределена</td>
							{% else %}
							<td></td>
					        {% endif %}
					{% endif %}
				</tr>
                {%if project.designerAccepted  %}
                    <tr>
                        <th>Дизайнер приел на:</th>
                        <td>{{ project.dateDesigner|date("d-m-Y H:i:s") }}</td>
                    </tr>
                    {% if project.designerFinishedDate %}
                        <tr>
                            <th>Дизайнер приключил на:</th>
                            <td>{{ project.designerFinishedDate|date("d-m-Y H:i:s") }}</td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if project.Executioner %}
                <tr>
                    <th>Подизпълнител</th>
                    <td>{{ project.executioner }}</td>
                </tr>
                {%if project.designerAccepted  %}
                    <tr>
                        <th>Подизпълнител приел на:</th>
                        <td>{{ project.dateDesigner|date("d-m-Y H:i:s") }}</td>
                    </tr>
                {% endif %}
            {% endif %}
                <th>Одобрена</th>
                <td>{% if project.isApproved %}Да{% else %}Не{% endif %}</td>
            </tr>
            <tr>
                <th>Приключилa </th>
                <td>{% if project.isOver %}Да{% else %}Не{% endif %}</td>
            </tr>
			{% if project.ManagerLink == false %}
	            <tr>		
			    </tr>
				{% else %}
	            <tr>
				    <th>Линк</th>
                    <td style="cursor:pointer" onclick="window.open('{{ project.ManagerLink }}')">{{ project.ManagerLink }}</td>			
			    </tr>	
		    {% endif %}
			{% if project.DesignerLink == false %}
	            <tr>		
			    </tr>
				{% else %}
	            <tr>
				    <th>Линк от дизайнер</th>
                    <td style="cursor:pointer" onclick="window.open('{{ project.DesignerLink }}')">{{ project.DesignerLink }}</td>			
			    </tr>				
            {% endif %}
            {% if project.isOver %}
            <tr>
                <th>Дата на приключване </th>
                <td>{{ project.overDate|date("d-m-Y H:i:s") }}</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
		<div class="row" style="background: #dde5ee;border-bottom: 2px solid #9ba2b6;">
		<div class="col-md-5">
			 <h1 class="h1files">Прикачени файлове от управител</h1>
		</div>
		<div class="col-md-6">
		{% for file in managerFiles %}
		{% if  file.fileExtension == "png" or file.fileExtension == "jpg" or file.fileExtension == "jpeg"  %}
			<div class="col-md-4" id="showImg">
		        <a class="fancybox" rel="gallery" href="{{ file.filePath }}">
			        <img src="{{ file.filePath }}" class="projectImages"/>
			    </a>
		        <a href="{{ file.filePath }}" class="downloadLink" download>Свали файл<div class="downloadImg_icon"></div></a>
		    </div>
		{% else %}
			<div class="col-md-4" id="showImg">
		        <a rel="gallery" href="{{ file.filePath }}" target="_blank">
			        <img src="{{ asset("images/pdf.png") }}" class="projectImages"/>
			    </a>
		        <a href="{{ file.filePath }}" class="downloadLink" download>Свали файл<div class="downloadImg_icon"></div></a>
		    </div>
		{% endif %}
		{% endfor %}
		</div>
		</div>
		<div class="row" style="background: #dde5ee;border-bottom: 2px solid #9ba2b6;">
		<div class="col-md-5">
			 <h1 class="h1files">Прикачени файлове от дизайнер</h1>
		</div>
		<div class="col-md-6">
		{% for file in designerFiles %}
		{% if  file.fileExtension == "png" or file.fileExtension == "jpg" or file.fileExtension == "jpeg"  %}
			<div class="col-md-4" id="showImg">
		        <a class="fancybox" rel="gallery" href="{{ file.filePath }}">
			        <img src="{{ file.filePath }}" class="projectImages"/>
			    </a>
		        <a href="{{ file.filePath }}" class="downloadLink" download>Свали файл<div class="downloadImg_icon"></div></a>
		    </div>
		{% else %}
			<div class="col-md-4" id="showImg">
		        <a rel="gallery" href="{{ file.filePath }}" target="_blank">
			        <img src="{{ asset("images/pdf.png") }}" class="projectImages"/>
			    </a>
		        <a href="{{ file.filePath }}" class="downloadLink" download>Свали файл<div class="downloadImg_icon"></div></a>
		    </div>
		{% endif %}
		{% endfor %}
		</div>
		</div>
		{% if project.isOver and (app.user.type == "LittleBoss" or app.user.type == "Boss" ) %}
			<div class="row" style="background: #f0d9d9;">
				<div class="query_buttons">
					{{ form_start(delete_form) }}
					<div class="col-md-2">
						<input id="button_delete" readonly="readonly" type="submit" value="Изтрий"><div class="delete_icon"></div>
					</div>
					{{ form_end(delete_form) }}
				</div>
			</div>
		    {% else %}		
		    <div class="row" style="background: #dcf0d9;">
                <form action="{{ path('project_fast_update', { 'id': project.id }) }}" method="post" style="margin-top: 10px; margin-left: 0px; margin-right: 0px;">
					{% if ( project.forApproval or project.isApproved ) and ( app.user.type == "LittleBoss" or app.user.type == "Boss" )  %}
                    <div class="col-md-2">
                        <input type="submit" readonly="readonly" id="approve" name="approve" value="Одобрявам"><div class="approve_icon"></div>
                    </div>
					<div class="col-md-2">
						<input id="rejectPopup" readonly="readonly" name="rejectPopup" value="Отхвърлям" onclick="btnShowPopup({{ project.id }})"><div class="reject_icon"></div>
					</div>
					{% elseif app.user.type == "LittleBoss" or app.user.type == "Boss" %}
					<div class="col-md-2" >
						<input type="submit" readonly="readonly" id="forApproval" name="forApproval" value="За одобрение"/><div class="forApproval_icon"></div>
					</div>
                    {% endif %}
					{% if app.user.type == "LittleBoss" %}					
					<div class="col-md-2">
						<input type="submit" readonly="readonly" id="hold" name="hold" value="На изчакване"><div class="hold_icon"></div>
					</div>
					{% endif %}
					{% if ( project.isApproved or project.isRejected ) and app.user.type == "LittleBoss" %}
					<div class="col-md-3">
						<input type="submit" readonly="readonly" id="archive" name="archive" value="Архивирай"><div class="archive_icon"></div>
					</div>
					{% endif %}
                </form>
            </div>		
        {% endif %}

        <div class="row" style="background: #dde5ee;">
            <div class="query_buttons">
                <div class="col-md-8">
                    <input id="button_edit" readonly="readonly" value="Обратно към заявките" onclick="location.href='{{ path('project_index') }}'"/><div class="back_icon"></div>
                </div>
                {% if app.user.type == "LittleBoss" or app.user.type == "Boss"  %}
                <div class="col-md-2">
                    <input id="button_edit" readonly="readonly" value="Промяна" onclick="location.href='{{ path('project_edit', { 'id': project.id }) }}'"/><div class="edit_icon"></div>
                </div>
				{% endif %}
            </div>
        </div>
				    {% if project.isOver %}					
					{% elseif project.forApproval or project.isApproved and ( app.user.type == "LittleBoss" or app.user.type == "Boss" )  %}
								<form action="{{ path('project_fast_update', { 'id': project.id }) }}" method="post">
								<div  class="popup" id="{{ project.id }}">
									<div class="popup-content">
										<span class="close" onclick="btnHidePopup({{ project.id }})">&times;</span>
										<p>Сигурни ли сте, че искате да отхвърлите заявката?</p>
                                        <p>Напишете причина.</p>
										<textarea id="rejectComment" name="rejectComment" required="required"></textarea>
										<div id="name-error" class="error"></div>
										<div style="height: 40px; margin-top: 20px;">
											<div class="col-md-2">
											<button type="button" id="button_cancel_popup" onclick="btnHidePopup({{ project.id }})">Не</button><div class="reject_icon"></div>
											</div>
												<div class="col-md-2">
												<input type="submit" readonly="readonly" id="reject" name="reject" value="Да"><div class="approve_icon"></div>    
												</div>
										</div>
									</div>
								</div>
                                </form>
                    {% endif %}	
		
		
		{% if comments == false %}
		    <h1>Няма коментари</h1>
		{% else %}
			<h1>Коментари</h1>
			<div class="row" id="comments">
			{% if app.user.type == "LittleBoss" %}
				<div class="col-md-7">
				<p style="color:#000;">Дизайнери</p>
					{% for comment in comments %}
					{% if (comment.creatorRole == "LittleBoss" and comment.toUser == "Designer") or (comment.creatorRole == "Designer" and comment.toUser == "") %}
						<div class="{{ comment.class }}">
							<div class="row">
								<span class="pull-left">{{ comment.madeBy }}</span>
								<span class="pull-right">{{ comment.date }}</span>
							</div>
							<div class="row">
								<div class="text-field">
									{{ comment.content }}
								</div>
							</div>
						</div>
					{% else %}
					{% endif %}
					{% endfor %}		
				</div>
				<div class="col-md-7" >
				<p style="color:#000;">Управители</p>
					{% for comment in comments %}			   
					{% if (comment.creatorRole == "LittleBoss" and comment.toUser == "Manager") or (comment.creatorRole == "Manager" and comment.toUser == "")  %}
						<div class="{{ comment.class }}">
							<div class="row">
								<span class="pull-left">{{ comment.madeBy }}</span>
								<span class="pull-right">{{ comment.date }}</span>
							</div>
							<div class="row">
								<div class="text-field">
									{{ comment.content }}
								</div>
							</div>
						</div>
				   {% else %}
				   {% endif %}
				   {% endfor %}
				</div>
				<div class="col-md-7" >
				<p style="color:#000;">Подизпълнители</p>
					{% for comment in comments %}			   
					{% if (comment.creatorRole == "LittleBoss" and comment.toUser == "Executioner") or (comment.creatorRole == "Executioner" and comment.toUser == "")  %}
						<div class="{{ comment.class }}">
							<div class="row">
								<span class="pull-left">{{ comment.madeBy }}</span>
								<span class="pull-right">{{ comment.date }}</span>
							</div>
							<div class="row">
								<div class="text-field">
									{{ comment.content }}
								</div>
							</div>
						</div>
				   {% else %}
				   {% endif %}
				   {% endfor %}
				</div>
			{% else %}
				<div class="col-md-12">
					{% for comment in comments %}			
						<div class="{{ comment.class }}">
							<div class="row">
								<span class="pull-left">{{ comment.madeBy }}</span>
								<span class="pull-right">{{ comment.date }}</span>
							</div>
							<div class="row">
								<div class="text-field">
									{{ comment.content }}
								</div>
							</div>
						</div>					
				   {% endfor %}
				</div>			   
			{% endif %}
			</div>
		{% endif %}
		<div class="row">
		<h1>Нов коментар</h1>
		{% include 'comments/new.html.twig' with {form:form,projectID:project.id} %}
        </div>
    </div>
{% endblock %}

